@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.App {
  text-align: center;
  font-family: roboto;
}

header {
  height: 160px;
  background-color: #689550;
  font-family: "Roboto";
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
  color: white;

  display: flex;
  align-items: center;
}

.logo {
  fill: white;
  height: 110px;
  width: 110px;
  margin-right: 100px;
  margin-left: 200px;
}
