@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.App {
  font-family: "Roboto";
}

header {
  height: 160px;
  background-color: #689550;
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
  color: white;

  display: flex;
  align-items: center;
}

.logo {
  fill: white;
  height: 110px;
  width: 110px;
  margin-right: 100px;
  margin-left: 200px;
}

nav {
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  display: flex;
  text-align: center;
}

nav a {
  width: 220px;
  border-right: 1px solid #689550;
  display: block;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-decoration: none;
  padding: 25px;
  color: #689550;
  background-color: white;
}

nav a.active {
  background-color: #c0de9e;
  color: white;
}

nav a:hover {
  filter: brightness(90%);
}

main {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  color: #689550;
}

.home {
  text-align: justify;
}
